# Basys2 Rev C – UCF with VGA, PS/2, switches, LEDs, 7-seg, buttons, etc.

# Clock
NET "clk" LOC = "B8" | IOSTANDARD = LVCMOS33 ;

# LEDs
NET "led_o<0>" LOC = "M5"  | IOSTANDARD = LVCMOS33 ;
NET "led_o<1>" LOC = "M11" | IOSTANDARD = LVCMOS33 ;
NET "led_o<2>" LOC = "P7"  | IOSTANDARD = LVCMOS33 ;
NET "led_o<3>" LOC = "P6"  | IOSTANDARD = LVCMOS33 ;
NET "led_o<4>" LOC = "N5"  | IOSTANDARD = LVCMOS33 ;
NET "led_o<5>" LOC = "N4"  | IOSTANDARD = LVCMOS33 ;
NET "led_o<6>" LOC = "P4"  | IOSTANDARD = LVCMOS33 ;
NET "led_o<7>" LOC = "G1"  | IOSTANDARD = LVCMOS33 ;

# Slide switches
NET "switch_i<0>" LOC = "P11" | IOSTANDARD = LVCMOS33 ;
NET "switch_i<1>" LOC = "L3"  | IOSTANDARD = LVCMOS33 ;
NET "switch_i<2>" LOC = "K3"  | IOSTANDARD = LVCMOS33 ;
NET "switch_i<3>" LOC = "B4"  | IOSTANDARD = LVCMOS33 ;
NET "switch_i<4>" LOC = "G3"  | IOSTANDARD = LVCMOS33 ;
NET "switch_i<5>" LOC = "F3"  | IOSTANDARD = LVCMOS33 ;
NET "switch_i<6>" LOC = "E2"  | IOSTANDARD = LVCMOS33 ;
NET "switch_i<7>" LOC = "N3"  | IOSTANDARD = LVCMOS33 ;

# Pmods 
# JA
NET "pmodA_i<0>" LOC = "B2" | IOSTANDARD = LVCMOS33 ;
NET "pmodA_i<1>" LOC = "A3" | IOSTANDARD = LVCMOS33 ;
NET "pmodA_i<2>" LOC = "J3" | IOSTANDARD = LVCMOS33 ;
NET "pmodA_i<3>" LOC = "B5" | IOSTANDARD = LVCMOS33 ;
# JB
NET "pmodB_i<0>" LOC = "C6" | IOSTANDARD = LVCMOS33 ;
NET "pmodB_i<1>" LOC = "B6" | IOSTANDARD = LVCMOS33 ;
NET "pmodB_i<2>" LOC = "C5" | IOSTANDARD = LVCMOS33 ;
NET "pmodB_i<3>" LOC = "B7" | IOSTANDARD = LVCMOS33 ;
# JC
NET "pmodC_i<0>" LOC = "A9" | IOSTANDARD = LVCMOS33 ;
NET "pmodC_i<1>" LOC = "B9" | IOSTANDARD = LVCMOS33 ;
NET "pmodC_i<2>" LOC = "A10" | IOSTANDARD = LVCMOS33 ;
NET "pmodC_i<3>" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
# JD
NET "pmodD_o<0>" LOC = "C12" | IOSTANDARD = LVCMOS33 ;
NET "pmodD_o<1>" LOC = "A13" | IOSTANDARD = LVCMOS33 ;
NET "pmodD_o<2>" LOC = "C13" | IOSTANDARD = LVCMOS33 ;
NET "pmodD_o<3>" LOC = "D12" | IOSTANDARD = LVCMOS33 ;
